[submodule "kirby"]
	path = app/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = app/panel
	url = https://github.com/getkirby/panel.git
[submodule "app/site/plugins/architect"]
	path = app/site/plugins/architect
	url = https://github.com/AugustMiller/kirby-architect.git
